<!--@subject stoffwerft: Bitte bewerte Deine Bestellung Nr. {{var order.getIncrementId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"layout handle=\"shopvote_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="email-heading">
        </td>
    </tr>
    <tr>
        <td>
            <h1>Hallo {{htmlescape var=$order.getCustomerName()}},</h1>

            <p>Du hast in der Vergangenheit Produkte oder Nähkurse bei stoffwerft gekauft und zwischenzeitlich erhalten. Wir hoffen, dass Du mit uns und der gelieferten Ware  bzw. dem erhaltenen Nähkurs zufrieden bist.</p>
            <p>Gerne möchten wir von Dir erfahren, was wir noch verbessern können. Dein Beitrag kann für andere Kunden, die bei stoffwerft nach Produkten oder Nähkursen suchen, sehr hilfreich sein.<p/>
            <>Über den folgenden Link kannst Du uns <strong>anonym</strong> und <strong>sicher</strong> bewerten:<br />
            <a href="{{config path='shopvote/reminder/reminder_link'}}">stoffwerft anonym bei shopvote.de bewerten</a>
            </p>
        </td>
    </tr>
    <tr class="order-information">
        <td>
            <p>Hier die Positionen Deiner Bestellung Nr. <span class="no-link">{{var order.increment_id}}</span> vom {{var order.getCreatedAtFormated('short')}}:</p>
            {{layout handle="shopvote_email_order_items" order=$order}}
        </td>
    </tr>
    <tr>
        <td>
            <p>Wir freuen uns auf Deine Bewertung.<br />Dein stoffwerft-Team Ralf und Claudia</p>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Impressum</h3>
            {{block type="magesetup/imprint_content" template="magesetup/imprint/email_footer.phtml"}}
        </td>
    </tr>

</table>

{{template config_path="design/email/footer"}}
