<?php 
    $_items = unserialize($this->getItemsOrdered());
?>

<div class="grid np">
  <div class="hor-scroll">
    <table cellspacing="0" class="data order-item-table">
        <thead>
            <tr class="headings">
                <th><?php echo $this->__('SKU') ?></th>
                <th><?php echo $this->__('Qty') ?></th>
                <th><?php echo $this->__('Name') ?></th>
            </tr>
        </thead>
        <?php $i=0; foreach ($_items as $_item):?>
            <?php $i++;?>
            <tbody class="odd">
                <tr class="border">
                  <td width="75"><small><?php echo $_item['sku']; ?></small></td>
                  <td width="75"><small><?php echo (float) $_item['qty_ordered']; ?></small></td>
                  <td><small><?php echo $_item['name']; ?></small></td>
                </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
  </div>
</div>